<section class="container">
    <h2 class="titulo">Transfers</h2>
    <table class="tabela">
        <thead class="tabela__cabecalho">
            <th class="tabela__cabecalho__conteudo">Date</th>
            <th class="tabela__cabecalho__conteudo">Value</th>
            <th class="tabela__cabecalho__conteudo">Destination</th>
        </thead>
        <tbody *ngIf="shifts?.length > 0; else list">
            <tr class="tabela__linha" *ngFor="let transfer of shifts">
                <td class="tabela__conteudo">{{transfer?.date | date: 'short'}}</td>
                <td class="tabela__conteudo">{{transfer?.value | currency }}</td>
                <td class="tabela__conteudo">{{transfer?.destination}}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #list>
        <p>No operations registered</p>
    </ng-template>
</section>